<form (ngSubmit)="onAddCity()" #f="ngForm">
  <label>Name:</label><br>
  <input type="text" name="name" [ngModel]="name"><br>
<!--  <label>Dt:</label><br>-->
<!--  <input type="text" name="dt"><br><br>-->
<!--  <input type="text" name="coord-lat" [ngModel]="coordLat"><br>-->
<!--  <input type="text" name="coord-lon" [ngModel]="coordLon"><br>-->

<!--  <input type="text" name="mainTemp" [ngModel]="mainTemp"><br>-->
<!--  <input type="text" name="mainFeelsLike" [ngModel]="mainFeelsLike"><br>-->
<!--  <input type="text" name="mainTempMin" [ngModel]="mainTempMin"><br>-->
<!--  <input type="text" name="mainTempMax" [ngModel]="mainTempMax"><br>-->
<!--  <input type="text" name="MainPressure" [ngModel]="MainPressure"><br>-->
<!--  <input type="text" name="MainHumidity" [ngModel]="MainHumidity"><br>-->
<!--  <input type="text" name="MainSeaLevel" [ngModel]="MainSeaLevel"><br>-->
<!--  <input type="text" name="MainGrndLevel" [ngModel]="MainGrndLevel"><br>-->

<!--  <input type="text" name="coord-lon" [ngModel]="coordLon"><br>-->
<!--  <input type="text" name="coord-lon" [ngModel]="coordLon"><br>-->
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
