.buttonAdd {
  background-color: white;
  padding: 10px 24px;
  color: black;
  border: 2px solid #4CAF50;
}

.buttonShow {
  background-color: white;
  padding: 10px 24px;
  color: black;
  border: 2px solid #008CBA;
}

.buttonAdd:hover {
  background-color: #4CAF50;
  cursor: pointer;
  color: white;
}

.buttonShow:hover {
  background-color: #008CBA;
  cursor: pointer;
  color: white;
}

.button{
  margin: 20px;
}
