<form *ngIf="check()===true">
  <label>ID: {{ selectedCity.id }}</label><br>
  <label>Name: {{ selectedCity.name }}</label><br>
  <label>Coord-lat: {{ selectedCity.coord.lat }}</label><br>
  <label>Coord-lon: {{ selectedCity.coord.lon }}</label><br>
  <label>Temp: {{ selectedCity.main.temp }}</label><br>
  <label>Temp_min: {{ selectedCity.main.temp_min }}</label><br>
  <label>Temp_max: {{ selectedCity.main.temp_max }}</label><br>
  <label>Pressure: {{ selectedCity.main.pressure }}</label><br>
  <label>Humidity: {{ selectedCity.main.humidity }}</label><br>
  <label>Sea_level: {{ selectedCity.main.sea_level }}</label><br>
  <label>Grnd_level: {{ selectedCity.main.grnd_level }}</label><br>
  <label>Dt: {{ selectedCity.dt }}</label><br>
  <label>Wind-speed: {{ selectedCity.wind.speed }}</label><br>
  <label>Wind-deg: {{ selectedCity.wind.deg }}</label><br>
  <label>Sys-country: {{ selectedCity.sys.country }}</label><br>
  <label>Rain: {{ selectedCity.rain }}</label><br>
  <label>Snow: {{ selectedCity.snow }}</label><br>
  <label>Clouds: {{ selectedCity.clouds.all }}</label><br>
</form>
