#cities {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#cities td, #cities th {
  border: 1px solid #ddd;
  padding: 8px;
}

#cities tr:nth-child(even) {
  background-color: #f2f2f2;
}

#cities tr:hover {
  background-color: #ddd;
  cursor: pointer;
}

#cities th {
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  background-color: #007F87;
  color: white;
}
