.searchElement {
  height: 5%;
  width: 16%;
  margin-top: 2%;
  margin-left: 2%;
}

.addButton{
  height: 5%;
  width: 7%;
  //margin-left: 33.5%;
  margin-top: 1%;
  margin-left: 2%;
}

.showButton{
  height: 5%;
  width: 7%;
  margin-left: 2%;
}

.cities{
  width: 100%;
}
#searchElements{
  padding-top: 1%;
  padding-left:1%;
  padding-bottom: 1%;
}
